<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>
    
    <!-- Show progress -->
    <arg value="p"/>

    <!-- Paths to check -->
    <file>src</file>
    <file>test</file>

    <!-- Exclude test assets -->
    <exclude-pattern>test/CreateHandler/TestAsset/</exclude-pattern>
    <exclude-pattern>test/Factory/TestAsset/</exclude-pattern>
    <exclude-pattern>test/MigrateInteropMiddleware/TestAsset/</exclude-pattern>
    <exclude-pattern>test/MigrateMiddlewareToRequestHandler/TestAsset/</exclude-pattern>

    <!-- Include all rules from the Laminas Coding Standard -->
    <rule ref="LaminasCodingStandard"/>
</ruleset>
